.inputSearch {
  margin-top: 10px;
}
.searchBtn {
  width: 10%;
  margin-left: auto;
  margin-right: auto ;
}
.planets-container{
    margin-top: 20px;
    display: flex;
}

.planet{
    display: flex;
    flex-flow: column;
}